## dockerignore
ignore/
test/

## Repository files
*.md
*.rst
.git
.gitattributes
.gitignore

## Secret files
docker-secrets/
*.key
*.crt
*.pem

## Environment files
**/.env
**/.venv
**/env/
**/venv/
**/env.bak/
**/venv.bak/

## Python files
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pyd
**/*.pyo
