## --------------------------------------------------
## Sensitive Files (should be uncommented)
## --------------------------------------------------
# .env
# log.txt
# token_*.txt
# resources/
## --------------------------------------------------
## Python Files
## --------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
## --------------------------------------------------
## Flask Files
## --------------------------------------------------
instance/
.webassets-cache
