## --------------------------------------------------
## Required Packages
## --------------------------------------------------
python-dotenv==1.*
flask==3.*
flask-cors==5.*
pyjwt[crypto]==2.*
## --------------------------------------------------
## Additional Packages
## --------------------------------------------------
scikit-learn
numpy
joblib
