server {
    listen 80;

    server_name ${ARG_NGINX_DOMAIN};

    # Redirect all HTTP requests to HTTPS on port 8443
    # return 301 https://$host:443$request_uri;
    return 301 https://$host$request_uri;
}
server {
    listen 443 ssl;

    server_name ${ARG_NGINX_DOMAIN};

    ssl_certificate     /etc/nginx/tls/server.crt;
    ssl_certificate_key /etc/nginx/tls/server.key;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_cache shared:TLS:10m;
    ssl_session_timeout 10m;
    ssl_session_tickets off;

    server_tokens off;
    client_max_body_size 5m;
    client_header_timeout 10s;
    client_body_timeout 10s;
    keepalive_timeout 15s;
    send_timeout 30s;

    add_header X-Content-Type-Options nosniff always;
    add_header X-Frame-Options DENY always;
    add_header Referrer-Policy no-referrer always;
    add_header Content-Security-Policy "default-src 'self'; frame-ancestors 'none'; base-uri 'self'" always;

    location / {
        proxy_pass http://api:${ARG_APP_PORT};
        proxy_http_version 1.1;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;

        proxy_connect_timeout 5s;
        proxy_send_timeout 30s;
        proxy_read_timeout 30s;
        proxy_buffering on;
    }
}
